.item-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 580px;
  max-width: 580px;
  margin-right: 100px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.product-show-side-panel {
  align-self: center;
}

.btn-success {
  width: 100%;
  border-radius: 0;
}

.section {
  width: 100%;
  padding: 20px 0px;
  font-size: 12px;
}

.section-inputs {
  display: flex;
  font-size: 20px;

  input {
    margin: 0;
    max-width: 18%;
    text-align: center;
    border: 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
}

.btn-minus {
  cursor: pointer;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
  border-right: 0;
}

.btn-plus {
  cursor: pointer;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
  border-left: 0;
}

@media (max-width: 426px) {}