<h1>memberships</h1>
<div class="container" style="padding-top: 50px;">
  <div class="card-columns">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <h5 class="card-header">All Access Memberships</h5>
      <div class="card-body">
        <h5 class="card-title">$30/Monthly</h5>
        <p class="card-text">All Gym Access includes weights, machines, boxing ring, boxing bags, ninja warrior course and group classes.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <h5 class="card-header">Year Membership</h5>
      <div class="card-body">
        <h5 class="card-title">$280/Yearly</h5>
        <p class="card-text">All Gym Access includes weights, machines, boxing ring, boxing bags, ninja warrior course and group classes.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <h5 class="card-header">Day Pass</h5>
      <div class="card-body">
        <h5 class="card-title">$10/Weekly</h5>
        <p class="card-text">All Gym Access includes weights, machines, boxing ring, boxing bags, ninja warrior course and group classes.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <h5 class="card-header">Family (4) All Access Membership-(all members needs to download app and use SAME Login)</h5>
      <div class="card-body">
        <h5 class="card-title">$65/Monthly</h5>
        <p class="card-text">Membership discount for our couples! All Gym Access includes weights, machines, boxing ring, boxing bags, ninja warrior course, group classes, 10% off Tony’s Gym Apparel and Protein Bar punch card.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <h5 class="card-header">COUPLES All Access Membership-(other member needs to download app and use SAME Login)</h5>
      <div class="card-body">
        <h5 class="card-title">$45/Monthly</h5>
        <p class="card-text">Membership discount for our couples! All Gym Access includes weights, machines, boxing ring, boxing bags, ninja warrior course and group classes.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <h5 class="card-header">COUPLES Year Membership (other member needs to download app and use SAME Login)</h5>
      <div class="card-body">
        <h5 class="card-title">$460/Yearly</h5>
        <p class="card-text">Membership discount for our couples! All Gym Access includes weights, machines, boxing ring, boxing bags, ninja warrior course, group classes, 10% off Tony’s Gym Apparel and Protein Bar punch card.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <h5 class="card-header">Student Membership</h5>
      <div class="card-body">
        <h5 class="card-title">$20/Monthly</h5>
        <p class="card-text">Must enter student I.D and you must be currently enrolled in high school/college. All Gym Access includes weights, machines, boxing ring, boxing bags, ninja warrior course, group classes, 10% off Tony’s Gym Apparel and Protein Bar punch card.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <h5 class="card-header">Spring Break One Week Membership</h5>
      <div class="card-body">
        <h5 class="card-title">$5/Weekly</h5>
        <p class="card-text">All Gym Access for ONE WEEK includes weights, machines, boxing ring, boxing bags and the ninja warrior course. Group classes not included.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
