<h1>Classes</h1>
<div class="container" style="padding-top: 50px;">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header">Tuesday 6pm - 7pm</h5>
        <div class="card-body">
          <h5 class="card-title">Boxing Basics & Cardio</h5>
          <p class="card-text">Please bring your own boxing gloves and wraps. Boxing shoes are options, or just wear socks. Every Wednesday at 6pm! Free for Members/ $10 for non-members.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header">Thursday 6pm - 7pm</h5>
        <div class="card-body">
          <h5 class="card-title">Boxing Basics & Cardio</h5>
          <p class="card-text">Please bring your own boxing gloves and wraps. Boxing shoes are options, or just wear socks. Every Wednesday at 6pm! Free for Members/ $10 for non-members.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
