.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 12px;
}

.navbar-logo {

  img {
    height: 45px;
  }
}

.navbar-links {
  display: flex;
  margin-bottom: 0px;

  li > a {
    color: black;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}

.navbar-auth-links {
  display: flex;
  margin-bottom: 0px;

  .cart {
    padding: 5px 0px;

    a > i {
      font-size: 30px;
      padding-left: 30px;
      color: black;
    }
  }
}

.navbar-brand {
  color: black !important;
  margin-right: 0;

  img {
    width: 45px;
  }
}

.dropdown {

  .active {
    display: block;
  }

  button {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }

  .dropdown-menu {
    left: -120px;
  }
}

.navbar-signin-link {
  margin-left: 43.59px;
}
