<div class="container">
  <div class="row">

    <div class="col-xs-4 item-photo">
        <img src="https://tonys-gym.square.site/uploads/1/2/4/8/124840955/s652178774712026657_p14_i1_w1365.jpeg" />
    </div>

    <div class="product-show-side-panel">

      <div class="product-show-side-panel-order">
        <div class="product-show-side-panel-title">
          <h3><%= @product.name.capitalize %></h3>
          $<%= '%.2f' % @product.price %>
        </div>
        <div class="section">
          Quantity
          <div class="section-inputs">
              <div class="btn-minus">-</div>
              <input value="1" />
              <div class="btn-plus">+</div>
          </div>
        </div>
        <div class="section">
            <button class="btn btn-success">Add to cart</button>
        </div>
      </div>

      <div class="product-show-description">
        Description
        <div>
          <%= @product.description %>
        </div>
      </div>

    </div>
  </div>
</div>